/* Apply a natural box layout model to all elements */
*, *:before, *:after {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.is-hidden { display: none }

/* Page */
.page {
  max-width: 900px;
  min-width: 400px;
  padding: 30px;
  margin: auto;
}

/* 4 columns grid */
.grid:before, .grid:after {
  content: " ";
  display: table;
}
.grid:after { clear: both }
.grid { margin: 0 -10px }
.grid-1,
.grid-2,
.grid-3 {
  box-sizing: border-box;
  float: left;
  padding: 0 10px;
  min-height: 1px;
}
.grid-1 { width: 25% }
.grid-2 { width: 50% }
.grid-3 { width: 75% }

/* Form */
.form-field input[type=text],
.form-field textarea,
.form-field select,
.form-field .input {
  width: 100%;
  margin-bottom: 10px;
}
.form-field button { margin-bottom: 10px; }
.form-field-error {
  font-size: small;
  margin-top: -10px;
  margin-bottom: 10px;
  color: red
}
.form-error {
  color: red;
  padding: 10px;
  border: 1px solid;
  margin-bottom: 10px;
}
