<div id="app"></div>
<script>
  require(['main'], function () {
    require([ 'backbone'
            , 'routers/l2vpn'
            , 'collections/l2vpn'
            , 'views/l2vpn/app'
            ], function ( Backbone
                        , L2vpnRouter
                        , L2vpnCollection
                        , L2vpnAppView) {

      var collection = new L2vpnCollection
        , router = new L2vpnRouter
        , view = new L2vpnAppView({ el: '#app'
                                  , collection: collection
                                  , router: router})

      // Fetch collection and then start app
      collection.fetch({
        reset: true
      , success: function () {
          Backbone.history.start({root: '/l2vpn/', pushState: true, hashChange: false})
        }
      })

    })
  })
</script>
