<% if (hasModel) { %>
    <h1>Edit record</h1>
<% } else { %>
    <h1>Build Business Ethernet Circuit</h1>
<% } %>
<form>
    <label class="form-field">
        <strong>l2vpnid</strong>
        <input name="l2vpnid" type="text"
               value="<%- attrs.l2vpnid %>">
        <div class="form-field-error is-hidden js-error"
             data-for="l2vpnid"></div>
    </label>
    <div class="grid">
        <label class="grid-2 form-field">
            <strong>Port</strong>
            <input name="port" type="text"
                   value="<%- attrs.port %>">
            <div class="form-field-error is-hidden js-error"
                 data-for="port"></div>
        </label>
        <label class="grid-2 form-field">
            <strong>Protocol</strong>
            <select name="protocol">
            <% _.each(config.protocols, function (protocol) { %>
                <option value="<%- protocol.value %>"
                <% if (attrs.protocol === protocol.value) { %>
                        selected
                <% } %>
                ><%- protocol.name %></option>
            <% }) %>
            </select>
            <div class="form-field-error is-hidden js-error"
                 data-for="protocol"></div>
        </label>
    </div>
    <div class="grid">
        <label class="grid-2 form-field">
            <strong>Encapsulation type</strong>
            <select name="encapsulationtype">
            <% _.each(config.encapsulationTypes, function (encapsulationtype) { %>
                <option value="<%- encapsulationtype.value %>"
                <% if (attrs.encapsulationtype === encapsulationtype.value) { %>
                        selected
                <% } %>
                ><%- encapsulationtype.name %></option>
            <% }) %>
            </select>
            <div class="form-field-error is-hidden js-error"
                 data-for="encapsulationtype"></div>
        </label>
        <label class="grid-2 form-field">
            <strong>Encapsulation value</strong>
            <input name="encapsulationvalue" type="text"
                   value="<%- attrs.encapsulationvalue %>">
            <div class="form-field-error is-hidden js-error"
                 data-for="encapsulationvalue"></div>
        </label>
    </div>
    <div class="grid">
        <label class="grid-2 form-field">
            <strong>Source IP</strong>
            <input name="s_address" type="text"
                   value="<%- attrs.s_address %>">
            <div class="form-field-error is-hidden js-error"
                 data-for="s_address"></div>
        </label>
        <label class="grid-2 form-field">
            <strong>Source MAC</strong>
            <input name="s_mac" type="text"
                   value="<%- attrs.s_mac %>">
            <div class="form-field-error is-hidden js-error"
                 data-for="s_mac"></div>
        </label>
    </div>
    <div class="grid">
        <label class="grid-2 form-field">
            <strong>Destination IP</strong>
            <input name="d_address" type="text"
                   value="<%- attrs.d_address %>">
            <div class="form-field-error is-hidden js-error"
                 data-for="d_address"></div>
        </label>
        <label class="grid-2 form-field">
            <strong>Destination MAC</strong>
            <input name="d_mac" type="text"
                   value="<%- attrs.d_mac %>">
            <div class="form-field-error is-hidden js-error"
                 data-for="d_mac"></div>
        </label>
    </div>

    <div class="form-error is-hidden js-error"></div>
    <div class="form-field">
        <button type="submit">Submit</button> or
        <button type="reset">Cancel</button>
    </div>
</form>
